/* homepage.css */

#welcomeDiv{
  backdrop-filter: blur(4px); 
  background-image: url('../assets/mainBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
  
  /* Blurry box styles */
  .blurry-box {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 2rem;
    margin-top: 2rem;
  }
  
  .blurry-box h1 {
    font-size: 2rem;
    text-align: center;
  }
  
