.login-container {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 10%;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Center horizontally */
    justify-content: center;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 358px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
        border-radius: 20px;
}

.login-container .form-group {
    display: flex;
    align-items: center; /* Align children vertically */
}

.login-container input[type="checkbox"] {
    margin-right: 5px;
}

.login-container .forgot-password {
    text-align: right;
    margin-bottom: 10px;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: blue;
    text-decoration: none;

}

.register-link a:hover {
    text-decoration: underline;
}

.login-form:hover .login-submit{
    background-color: #2bf724;
}
